doctype html
html
 head
    link(href='svg.css', rel='stylesheet')
    //style
    // :plain
    //  #{css}
    title= pageName
  body
   - var svgattributes = {'xmlns' : 'http://www.w3.org/2000/svg', 'version' : '1.1'};
   svg&attributes(svgattributes)
    // tetromino
    g#tetro(transform='scale(3)')
     text(id="c0" x=1 y=1  style="fill: #ffffff;" font-family="Verdana" font-size="0.1") amarcinkowski
      animate(xlink:href="#c0" attributeType="CSS" attributeName="opacity" from="0" to="1" dur="1s" repeatCount="indefinite" begin="0s" id="a0")
     for blockType in blockTypes
      text(x=22 y='#{11+2*blockType.ordinal()}'  style="fill: #ffffff;" font-family="Verdana" font-size="1.5") #{blockType.name()}     
     for block in blocks
      // block
      g(transform='translate(#{screenPosition.get(block)})')
       image(xlink:href='#{block.file()}' id='c#{x++}')
        animate(xlink:href="#c#{x}" id="a#{x}" attributeType="CSS" attributeName="opacity" from="1.2" to="-0.9" dur="10s" repeatCount="indefinite" begin="a#{x-1}.begin + 0.19s")
       //line(x1='a#{block.screenx}' y1="10" x2="41" y2="30" stroke-width="0.1" stroke="white")
